.module_cs-challenge {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: #333;
}
.cs-challenge_header {
    font-size: 6em;
    text-align: center;
    border-bottom: solid 5px orange;
    display: inline-block;
    width: auto;
    margin: 10px auto;
}
.cs-challenge_task {
    font-size: 3em;
    text-align: center;
    margin: 0;
}
.cs-challenge_header-container {
    text-align: center;
    display: block;
}
.cs-challenge_answer {
    display: block;
    width: auto;
    margin: 10px 30px;
    background-color: #f7efdf;
    padding: 30px 50px;
    border-radius: 20px;
}
.cs-challenge_answer-content {
    font-size: 2em; 
}
.cs-challenge_answer-sumbitted-by {
    font-weight: bolder;
    font-size: 1.3em;
    text-align: center;
}
.is-hidden {
    display: none;
}

temp {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: pink;
}